.formContainer {
  width: 400px;
  margin: 20px auto;
  background-color: rgb(93, 165, 76);
  border-radius: 10px;
}

.authFormContainer {
  width: 400px;
  margin: 20px auto;
  background-color: rgb(21, 150, 255);
  border-radius: 10px;
  padding: 10px;
}

form {
  width: 300px;
  margin: 0 auto;
}

input {
  display: block;
  width: 300px;
  height: 35px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 22px;
  padding-left: 5px;
  outline: none;
  border: none;
  box-shadow: 4px 4px 21px 6px rgba(34, 60, 80, 0.2);

  &:focus {
    border: 1px solid #454545;
  }
}

.form {
  width: 400px;
  padding: 10px;
  margin-left: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 10px 0 20px 0;
}

.heading {
  margin: 10px 0 20px 0;
  padding: 0;
  text-align: center;
}

.subtitle {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
}

.btn {
  display: block;
  border: none;
  text-align: center;
  padding: 0 15px 0 15px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(199, 221, 5);
  font-size: 18px;
  font-weight: 600;
  outline: none;
  margin: 0 auto;
  transition: all 200ms linear;

  &:hover,
  &:focus {
    background-color: rgb(153, 189, 55);
    color: #fff;
    box-shadow: 4px 4px 21px 6px rgba(34, 60, 80, 0.2);
  }
}
